<div class="hbox hbox-auto-xs  " >
    <div class="col lter b-l">
        <div class="vbox">
            <div class="wrapper-sm bg-light lter b-b clearfix">
                <div class="font-normal h3 pull-left m-t-xs col-sm-6">
                    <i class="fa fa-puzzle-piece"></i>
                    <span> Componentes da aplicação</span>
                </div>
            </div>

            <div class="row-row">
                <div class="cell">
                    <div class="cell-inner">

                        <div class="wrapper-md">

                            <section class="hbox">

                                <div class="row">
                                    <aside class="col-md-4">
                                        <div class="panel panel-default">
                                            <div class="table-responsive">
                                                <div>
                                                    <div class="panel-body">
                                                        <div js-tree="vm.treeConfig" should-apply="vm.applyModelChanges()" ng-model="vm.treeData" tree="vm.treeInstance" tree-events="select_node:vm.selectNode"></div>

                                                        <div class="wrapper-md text-center" ng-if="ComponenteStore.results.length == 0">
                                                            <h3><i class="fa fa-search-minus"></i> Nenhum registro encontrado</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </aside>

                                    <section class="col-md-8">

                                        <div class="panel panel-default">
                                            <header class="panel-heading">
                                                <span class="h4">
                                                    <button ng-click="saveComponente()" class="btn btn-success pull-right" acl="c-componente-save" style="margin-top: -6px;" >Salvar</button>
                                                    <button ng-click="removeComponente()" ng-if="componente.id != null" class="btn btn-default pull-right" acl="c-componente-remove" style="margin-top: -6px;margin-right: 5px;" ><i class="fa fa-trash"></i></button>
                                                    <button ng-click="novoComponente()" class="btn btn-danger pull-left" acl="c-componente-create" style="margin-top: -6px;" >Novo</button>
                                                    <br>
                                                </span>
                                            </header>
                                            <form name="forms.componente" novalidate autocomplete="off">
                                                <div class="panel-body">

                                                    <div class="row" style="padding: 20px;">
                                                        <div class="form-group">
                                                            <div class="form-group pull-in clearfix">
                                                                <div class=" form-group col-sm-12 required">
                                                                    <label class="control-label label-sm" >Rótulo</label>
                                                                    <input type="text" required id="rotulo" name="rotulo" class="form-control" ng-model="componente.text" ng-maxlength="60">

                                                                    <ng-messages for="forms.componente.rotulo.$error" role="alert" ng-if="ComponenteStore.checkField(forms.componente.rotulo)">
                                                                        <ng-message when="required" class="label label-danger">Rótulo é obrigatório</ng-message>
                                                                        <ng-message when="maxlength" class="label label-danger">Tamanho máximo é 60</ng-message>
                                                                    </ng-messages>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="form-group pull-in clearfix">
                                                                <div class="col-sm-12">
                                                                    <div class="row">
                                                                        <div class="form-group col-sm-3">
                                                                            <div class="radio">
                                                                                <label class="i-checks">
                                                                                    <input type="radio" name="tipo" ng-model="componente.tipo" value="M">
                                                                                    <i></i>
                                                                                    Módulo
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group col-xs-3">
                                                                            <div class="radio">
                                                                                <label class="i-checks">
                                                                                    <input type="radio" name="tipo" ng-model="componente.tipo" value="C">
                                                                                    <i></i>
                                                                                    Componente
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group col-xs-3">
                                                                            <div class="radio">
                                                                                <label class="i-checks">
                                                                                    <input type="radio" name="tipo" ng-model="componente.tipo" value="F">
                                                                                    <i></i>
                                                                                    Funcionalidade
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group col-xs-3">
                                                                            <div class="radio">
                                                                                <label class="i-checks">
                                                                                    <input type="radio" name="tipo" ng-model="componente.tipo" value="W">
                                                                                    <i></i>
                                                                                    Widget
                                                                                </label>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group" ng-if="componente.tipo != 'M'">
                                                            <div class="form-group pull-in clearfix">
                                                                <div class="form-group col-sm-12 required">
                                                                    <label>Parente</label>
                                                                    <select chosen class="form-control no-padder" required id="parente" name="parente" ng-model="componente.parent" placeholder="Selecione" ng-options="modulo.id as modulo.text for modulo in ParenteStore.results"></select>

                                                                    <ng-messages for="forms.componente.parente.$error" role="alert" ng-if="ComponenteStore.checkField(forms.componente.parente)">
                                                                        <ng-message when="required" class="label label-danger">Parente é obrigatório</ng-message>
                                                                    </ng-messages>

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group" ng-if="componente.tipo == 'M'">
                                                            <div class="form-group pull-in clearfix">
                                                                <div class="form-group col-sm-12 required">
                                                                    <label>Menu</label>
                                                                    <select chosen class="form-control no-padder" required id="menu" name="menu" ng-model="componente.menu_id" placeholder="Selecione" ng-options="menu.id as menu.modulo for menu in MenuStore.results"></select>

                                                                    <ng-messages for="forms.componente.menu.$error" role="alert" ng-if="ComponenteStore.checkField(forms.componente.menu)">
                                                                        <ng-message when="required" class="label label-danger">Menu é obrigatório</ng-message>
                                                                    </ng-messages>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="form-group pull-in clearfix">
                                                                <div class=" form-group col-sm-6 required">
                                                                    <label>Chave</label>
                                                                    <input type="text" required id="key" name="key" class="form-control" ng-model="componente.chave" ng-maxlength="30">
                                                                    <ng-messages for="forms.componente.key.$error" role="alert" ng-if="ComponenteStore.checkField(forms.componente.key)">
                                                                        <ng-message when="required" class="label label-danger">Key é obrigatório</ng-message>
                                                                        <ng-message when="maxlength" class="label label-danger">Tamanho máximo é 30</ng-message>
                                                                    </ng-messages>
                                                                </div>
                                                                <div class=" form-group col-sm-6 required">
                                                                    <label>Ícone</label>
                                                                    <input type="text" required id="icone" name="icone" class="form-control" ng-model="componente.icon" ng-maxlength="30">
                                                                    <ng-messages for="forms.componente.icone.$error" role="alert" ng-if="ComponenteStore.checkField(forms.componente.icone)">
                                                                        <ng-message when="required" class="label label-danger">Icon é obrigatório</ng-message>
                                                                        <ng-message when="maxlength" class="label label-danger">Tamanho máximo é 30</ng-message>
                                                                    </ng-messages>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                    </section>
                                </div>

                            </section>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>





















