<div class="container w-xxl w-auto-xs" ng-init="app.settings.container = false;">
  <a href class="navbar-brand block m-t-lg ff-roboto">{{app.name}}</a>
  <div class="m-b-lg">
    <form name="form" class="form-validation">

        <div class="card">
            <div class="card-heading indigo primary dker">
                <h2 class="text-white">Login</h2>
            </div>
            <div class="card-body">
                <div class="row row-sm">
                    <md-input-container class="md-icon-float col-sm-12 m-t-md m-b-sm">
                        <label>Email</label>
                        <md-icon>email</md-icon>
                        <input ng-model="user.email" autofocus name="email" type="email" required ng-pattern="/^.+@.+\..+$/" ng-required="true">
                        <div ng-messages="form.email.$error"  >
                            <div ng-message-exp="['required',  'pattern']">
                                Você precisa informar um endereço de email válido
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-icon-float col-sm-12 m-t-md m-b-sm">
                        <label>Senha</label>
                        <md-icon>lock</md-icon>
                        <input ng-model="user.pass" name="pass" type="password" ng-required="true">
                        <div ng-messages="form.pass.$error" role="alert">
                            <ng-message when="required">
                                Você precisa informar a senha
                            </ng-message>
                        </div>

                    </md-input-container>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <md-button class="md-primary btn-block md-raised m-n"  ng-click="login()" ng-disabled="form.$invalid">
            Acessar
        </md-button>

        <div class="text-center m-t m-b"><a ui-sref="recover">Esqueci a senha</a></div>
        <div class="line line-dashed"></div>
        <p class="text-center"><small>Não tem uma conta ainda?</small></p>
        <md-button class="btn-block md-raised m-n"  ui-sref="registro" >
            Criar uma conta
        </md-button>

    </form>
  </div>
</div>